{{ define "links" -}}
**Links:** [LinkedIn] • [Role-targeted résumés]({{ .ResumeDir }}#readme) • **Format:** [Web]({{ .Resume }}.md) • [PDF]({{ .ResumeRaw }}.pdf) • [Word]({{ .ResumeRaw }}.docx)

{{- end }}
