{{ define "markdown-links" -}}
[Canva]: https://www.canva.com
[Copper CRM]: https://www.copper.com
[Dropbox]: https://www.dropbox.com
[Google Docs]: https://docs.google.com
[Google Drive]: https://drive.google.com
[Google Workspace]: https://workspace.google.com
[Heald College]: https://en.wikipedia.org/wiki/Heald_College
[iOS]: https://www.apple.com/ios/
[iPadOS]: https://www.apple.com/ipados/
[Jobber]: https://getjobber.com
[Joist]: https://www.joist.com
[Lightroom]: https://lightroom.adobe.com
[LinkedIn]: https://www.linkedin.com/in/jessikaparman/
[LumaFusion]: https://luma-touch.com/luma-fusion-for-ios/
[macOS]: https://apple.com/macos
[Method CRM]: https://www.method.me
[Microsoft Office]: https://www.office.com
[ninety.io]: https://www.ninety.io
[Procreate]: https://procreate.com
[Quickbooks]: https://quickbooks.intuit.com
[QuickBooks]: https://quickbooks.intuit.com
[Turf Logistics]: https://turf-logistics.com
[Upkeep]: https://upkeep.com
[Windows]: https://microsoft.com/windows
[YouTube Studio]: https://studio.youtube.com
{{- end }}
